@import 'bourbon'
@import 'variables'

body
  margin: 0
  background: $pt-app-background-color
  font-family: Karla, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif
  @include transition(background .1s ease-in)

  &.pt-dark
    background: $pt-dark-app-background-color

.np-container
  max-width: 1200px
  margin: 0 auto

.np-root
  display: flex
  min-height: 100vh

  .np-tools
    position: fixed
    bottom: 5px
    left: 0
    right: 0
    margin: auto

  .np-svg
    position: fixed
    top: 0
    width: 100vw
    height: 100vh

  .pt-slider-label
    white-space: nowrap

  .pt-non-ideal-state
    height: 100vh

.np-graph-links line
  stroke: #777
  stroke-opacity: 0.1

.np-graph-nodes circle
  stroke-width: 1px
  @include transition(r .3s ease-in-out)

.np-label
  z-index: 10
  cursor: pointer
  rect
    fill: black
    height: 18px
    rx: 2px
    ry: 2px
  text
    fill: #fff
    font-size: 14px
