@import 'common/variables'
@import 'bourbon'

body
  margin: 0
  background: $pt-app-background-color
  @include transition(background .1s ease-in)

  &.pt-dark
    background: $pt-dark-app-background-color

.np-container
  max-width: 800px
  margin: 0 auto

.np-root
  display: flex
  min-height: 100vh

  .np-tools
    position: fixed
    bottom: 5px
    left: 0
    right: 0
    margin: auto

  .np-svg
    position: fixed
    top: 0
    width: 100vw
    height: 100vh

  .pt-slider-label
    white-space: nowrap

.np-graph-links line
  stroke: #777
  stroke-opacity: 0.4

.np-graph-nodes circle
  stroke: #000
  stroke-width: 0.2px
