// Placet

doctype html
html(lang='en')
  head
    title Placet
    include ./partials/head.jade

    meta(property='og:title', content='Placet')
    meta(property='og:url', content='https://placet.noop.pw')
    link(rel='canonical', href='https://placet.noop.pw')
    link(rel='stylesheet', type='text/css', href='css/app.css')
    if DEBUG
      script.
        window.brunch = {server: 'localhost'};
  body
    nav.pt-navbar.pt-fixed-top
      .np-container
        .pt-navbar-group.pt-align-left
          .pt-navbar-heading Placet
        .pt-navbar-group.pt-align-right
          div#colorSchemeToggle

    main#placetRoot


    script(type='text/javascript', src='js/app.js')
    script.
      var app = require('app');
      app.init();
